#canvas{
    width: 1200px;
    height: 845px;
}
.sweet-alert p{
    font-size: 30px !important;
}
.tr_indice{
    background-color: dodgerblue;
    width: 100px;
}
th{
    left: 500px;
    border-top-width: 10px;
}
h1{
    text-align: center;
}
.sweet-alert{
    left: 600px !important; 
}
input[type=text]{
    background: white;
    border-radius: 0;
    border-style: solid;
    border-color: blue;
}
.button {
    position: fixed;
    border-radius: 0;
    outline: 0;
}
button:hover{
    border: none;
}
.boton{
    position: fixed;
    width: 100px;
    height: 50px;
}
.button:hover {
    border: none;
}

.btn_hc{
    position: fixed;
    width: 230px;
    height: 190px;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

.inter_size{
    height: 845px;
    width: 1200px;
}
/*background de interfaces*/
#fondo{
    background-image: url("../img/background.png")
}
#int_1{
    background: url("../img/principal.png") 0 0 no-repeat;
}
#int_2{
    background: url("../img/background-menu.png") 0 0 no-repeat;
}
/*Interfaces de juego*/
#int_nyd{
    background: url("../img/background_game.png") 0 0 no-repeat;
}
#int_ahorro{
    background: url("../img/background_game.png") 0 0 no-repeat;
}

#int_hc{
    background: url("../img/hc-background.png") 0 0 no-repeat;
}
/*Botones*/
#btn_inicio{
    height: 187px;
    width: 180px;
    top: 640px;
    left: 510px;
    background: url("../img/btn_ini.png") 0 0 no-repeat;
}
#btn_historia{
    height: 297px;
    width: 392px;
    top: 450px;
    left: 80px;
    background: url("../img/btn_historia.png") 0 0 no-repeat;
}
#btn_jugar{
    height: 299px;
    width: 275px;
    top: 415px;
    left: 740px;
    background: url("../img/btn_juego.png") 0 0 no-repeat;
}
.btn_acep{
    top: 780px;
    left: 540px;
}
#btn_nd{
    top: 530px;
    left: 250px;
}
#btn_ahorro{
    top: 530px;
    left: 800px; 
}
#btn_trueque{
    top: 275px;
    left: 180px;
    background: url("../img/hc/trueque.png") 0 0 no-repeat;
}
#btn_trueque:hover{
    background: url("../img/hc/trueque-hover.png") 0 0 no-repeat;
}
#btn_diamante{
    top: 237px;
    left: 548px;
    background: url("../img/hc/diamante.png") 0 0 no-repeat;
}
#btn_diamante:hover{
    background: url("../img/hc/diamante-hover.png") 0 0 no-repeat;
}
#btn_banco{
    top: 230px;
    left: 970px;
    background: url("../img/hc/banco.png") 0 0 no-repeat;
}
#btn_banco:hover{
    background: url("../img/hc/banco-hover.png") 0 0 no-repeat;
}
#btn_barco{
    top: 325px;
    left: 730px;
    background: url("../img/hc/barco.png") 0 0 no-repeat;
}
#btn_barco:hover{
    background: url("../img/hc/barco-hover.png") 0 0 no-repeat;
}
#btn_trasatlantico{
    top: 400px;
    left: 150px;
    background: url("../img/hc/trasatlantico.png") 0 0 no-repeat;
}
#btn_trasatlantico:hover{
    background: url("../img/hc/trasatlantico-hover.png") 0 0 no-repeat;
}
#btn_tren{
    top: 440px;
    left: 450px;
    background: url("../img/hc/tren.png") 0 0 no-repeat;
}
#btn_tren:hover{
    background: url("../img/hc/tren-hover.png") 0 0 no-repeat;
}
#btn_planeta{
    top: 540px;
    left: 850px;
    background: url("../img/hc/planeta.png") 0 0 no-repeat;
}
#btn_planeta:hover{
    background: url("../img/hc/planeta-hover.png") 0 0 no-repeat;
}
#btn_shop{
    top: 645px;
    left: 200px;
    background: url("../img/hc/shop.png") 0 0 no-repeat;
}
#btn_shop:hover{
    background: url("../img/hc/shop-hover.png") 0 0 no-repeat;
}
.btn_atras{
    top: 780px;
    left: 100px;
}
.table{
    position: fixed;
    border-color: blue;
    border-top-width: 10px;
    background: white;
    opacity: 0.7;
    width: 730px;
    top: 149px;
    left: 270px;
}